# Configuración del Servidor Express
PORT=3000
NODE_ENV=development

# Configuración de la Base de Datos (SQL Server)
DB_HOST=127.0.0.1
DB_PORT=1433
DB_NAME=GeekInventoryDB
DB_USER=tu_usuario_sa
DB_PASSWORD=tu_contraseña_segura